/* medium device */
@media screen and (max-width: 800px){
    .nav-container{
        flex-direction: column;
      }

      .banner-container {
        flex-direction: column;
      }
}

/* small device */
@media screen and (max-width: 576px){
    .nav-container{
        flex-direction: column;
      }

      .banner-container {
        flex-direction: column;
      }

      .banner-content{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
      }

      .banner-title{
        font-size: 2rem;
      }
}

/*  */
@media screen and (max-width: 410px){
    .nav-container{
        flex-direction: column;
        margin: 10px 0px 0px;
      }
    
      .nav-items {
        flex-direction: column;
        gap: 3px;
    }
}