/* medium device */
@media screen and (max-width: 992px){
    .nav-container,
    .banner-container{
        flex-direction: column;
      }
}

/* small device */
@media screen and (max-width: 576px){
    .nav-container,
    .banner-container,
    .sponsor-container{
        flex-direction: column;
      }

      .banner-content{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
      }

      .banner-title{
        font-size: 2rem;
      }

      .sponsor-container img {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }


}

/* mini device */
@media screen and (max-width: 410px){
    .nav-container{
        flex-direction: column;
        margin: 10px 0px 0px;
      }
    
      .nav-items {
        flex-direction: column;
        gap: 3px;
    }
}