/* medium device */
@media screen and (max-width: 992px){
    .nav-container,
    .banner-container{
        flex-direction: column;
      }

      .popular-card-container {
        grid-template-columns: repeat(2, 1fr);
      }

      .see-more{
        margin: 0;
        text-align: center;
      }

      .card {
        width: 100%;
        height: 100%;
      }
}

/* small device */
@media screen and (max-width: 576px){
    .nav-container,
    .banner-container,
    .sponsor-container{
        flex-direction: column;
      }

      .banner-content{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
      }

      .banner-title{
        font-size: 2rem;
      }

      .sponsor-container img {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }
      .popular-card-container {
        grid-template-columns: 1fr;
      }
      .see-more{
        margin: 0;
        text-align: center;
      }

      .card {
        width: 100%;
        height: 100%;
      }


}

/* mini device */
@media screen and (max-width: 410px){
    .nav-container{
        flex-direction: column;
        margin: 10px 0px 0px;
      }
    
      .nav-items {
        flex-direction: column;
        gap: 3px;
    }
}